#selection{
    border: solid;
    width: 80%;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
}

.list{
    border: dotted;
    display: flex; 
    flex-direction: column; 
    
    align-items: center;   
    min-width: 220px;  
    min-height: 150px;
}

.list > * {
    margin-bottom: 5px;
}

select {
    width: 130px; 
}

table {
    border: solid;
    text-align: center; 
}

td {
    border: dotted 2px;
}

th {
    margin: 50px;
    border: solid;
    
}


@media only screen and (max-width: 580px){
    #selection{
        flex-direction: column; 

    }

    .list{
        margin-bottom: 10px; 
       
        align-items: center;
    }

}
